* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  cursor: none;
}

nav {
  z-index: -3;
}


.cursor {
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.2s ease-out;
  transform-origin: -50% 0%;
}

.link-grow {
  scale: 1.5;
  background-color: #00000069;
}

.hovered-link {
  color: white;
}